<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="layout/plantilla :: head">
        <title>Agregar Cliente</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section th:fragment="modalAgregarCliente">
            <div id="agregarCliente" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Registrar Cliente</h5>
                            <button class="close" data-bs-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/guardar}" th:object="${cliente}" method="post" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="nombre" class="form-control" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="apellido" class="form-control" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input type="tel" name="telefono" class="form-control" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="saldo">Saldo</label>
                                    <input type="number" name="saldo" class="form-control" required="true" step="any">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Guardar" name="guardar" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
